{% extends "telemed/sidebar.html" %}


{% block content %}

    <title>TELEMED - Physician Applicants</title>
    
    <div class="container">

      {% if doctors %}
         
          <div class="panel-heading" style="text-align:center;">
            <h3 style ="text-align:center">Physicians For Registration</h3>
          </div>

          <div class="table-responsive">
            <table class="table table-hover" id="dev-table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Mobile</th>
                  <th>Address</th>
                  <th>Specialization</th>
                  <th>Actions</th>
                </tr>
              </thead>

              {% for d in doctors %}
              <tr>
                <td> {{d.get_name}} </td>
                <td> {{d.mobile}} </td>
                <td> {{d.address}} </td>
                <td> {{d.specialization}} </td>
                <td>
                  <a class="btn btn-primary btn-xs" href="{% url 'approve_physician' d.physicianID %}"><span>Approve</span></a>
                  <!-- Reject modal trigger -->
                  <button type="button" class="btn btn-danger " data-toggle="modal" data-target="#deleteModal{{d.physicianID}}">
                    Reject
                  </button>
                </td>
              
                <!-- Reject modal -->
                <div class="modal fade" id="deleteModal{{d.physicianID}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Delete Account</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Are you sure you want to continue?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-danger btn-xs" href="{% url 'reject_physician' d.physicianID %}"><span>Continue</span></a>
                      </div>
                    </div>
                  </div>
                </div>

              </tr>
              {% endfor %}

            </table>
          </div> <!-- end of table-reponsive -->

      {% else %}
      <div >
        <h3 style ="text-align:center">NO APPLICANTS</h3>
      </div>
      {% endif%}

    </div>

    <!-- END OF DIV-->

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>









{% endblock %}